
<div>
    <img src='{{image_url}}' alt='Beer' width="100px" />
    <a class="a-beers" href="/beers/{{this.id}}"><h2>{{this.name}}</h2></a>
    <h4>{{this.tagline}}</h4>
    <p>{{this.description}}</p>
</div>

